*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');



.buttons {
    opacity: 0;
    height: 85vh;
}

.buttons-mid {
    top: 40%;
    height: 10%;
    margin: 0;
    position: relative;
    
}

button {
    top: 45%;
    top: 45%;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 8px;
    background: rgb(0, 0, 0);

    padding: 15px 40px;
    color: #ffffff;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    z-index: 1585;
    width: 10vw;
    height: 5.5vh;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: darkslateblue;
}

#wrapper {
    float: left;
    width: 100vw;
    vertical-align: middle;
    height: 100%;
    clear: both;
    text-align: center;
    color: white;

}
h3 {
    font-weight: 400;
    font-size: 60px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 2vh;
}
.wrapper2 {
    display: inline-block;
    margin: 0 auto;
    
    position: relative;
}
.inner_header {
  margin: 0 auto;
  display: block;
  height: 11vh;
}
.header .a {
    color: rgb(136, 251, 255);
    font-weight: 400;
    font-size: 20px;
    margin: 0 auto;
    
    
}
.main_content {
    min-width: 100vw;
    min-height: 85vmin;
}
#loggedin {
    margin-left: 15vw;
}

.header {
    width: 100%;
    height: 12vh;
    display: block;
    position: relative;
    background-color: #101010;
    
}

footer {
    height: 3vh;
    width: 100%;
    background-color: #000000;

}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flex {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  opacity: 0;
  height: 85vh;
  display: block;
  position: absolute;
  right: 100%;
  transition: 0.5s;
  background-color: #ffffff;
}
.content .navigation {
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
  padding-left: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.content .navigation li {
  padding: 15px;
}
.content .navigation a {
  color: #525252;
  text-decoration: none;
  position: relative;
  display: inline-block;
  overflow-x: hidden;
  transition: all 0.2s;
  z-index: 10;
}
.content .navigation form {
    all: initial;
    all: unset;
    color: #525252;
    text-decoration: none;
    position: relative;
    display: inline-block;
    overflow-x: hidden;
    transition: all 0.2s;
  }
.content .navigation a:before {
  content: "";
  overflow: hidden;
  width: 100%;
  position: absolute;
  left: -150%;
  bottom: 0px;
  height: 3px;
  background-color: #FF5757;
  transition: all 0.3s;
}
.content .navigation a:hover {
  color: #FF5757;
}
.content .navigation a:hover:before {
  left: 0px;
}

.content h1 {
  color: #525252;
  font-size: 0.98em;
}

.show {
    transition:1s;
  right: 0px;
  opacity: 1;
  z-index: 999;
  
}
.hide {
    transition:0.5s;
    right: 0px;
    opacity: 0;
    z-index: 1;
}

.hamburger {
  background-color: transparent;
  border: 0px;
  outline: 0px;
  width: 100px;
  height: 100px;

  position: absolute;
  top: 15px;
  right: 50px;
  cursor: pointer;
  z-index: 9999;
}
.hamburger .burger {
  transition: all 0.3s;
  border-radius: 5px;
  height: 8px;
  width: 60px;
  display: inline-block;
  background-color: #FFF;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}