*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* tmp font till new font  */

}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: darkslateblue;
}
.logo {
    margin: 0 auto;
    align-self: center;
    margin-top: 10px;
}

#wrapper {
    float: left;
    width: 100vw;
    height: 100%;
    clear: both;
    text-align: center;
    color: white;

}
/* h3 {
    font-family: 'ZCOOL', cursive;
    font-weight: 400;
    font-size: 60px;
    max-width: 30vw;
    align-self: center;
    margin: 0 auto;
} */

input[type="submit"] {
    text-align: center;
    border: 4px solid white;
    border-radius: 8px;
    background: rgb(0, 0, 0);

    
    color: #ffffff;
    font-size: 0.75rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;

    width: 4.5vw;
    height: 2.5vh;
}
progress {
    max-width: 5vw;
    margin: 0 auto;
    float: right;
    margin-right: 10px;

}
.progress {
    max-width: 5vw;
    margin: 0 auto;
    float: left;

}
.progress_wrapper {
    height: 2vh;
    max-width: 11vw;
    width: 11vw;
    float: right;
}

form {
    max-width: 10vw;
    margin: 0 auto;
    margin-right: 10px;
    float: right;
}

.wrapper2 {
    display: inline-block;
    margin: 0 auto;
}


.header .a {
    color: rgb(136, 251, 255);
    font-weight: 400;
    font-size: 20px;
    margin: 0 auto;
    /* margin-left: 11vw; */
}

#loggedin {
    margin-left: 10vw;
}
.header {
    width: 100%;
    height: 12vh;
    display: block;
    position: relative;
    background-color: #101010;
    
}

h3 {
  font-weight: 400;
  font-size: 60px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 2vh;
}



footer {
    height: 3vh;
    width: 100%;
    background-color: #000000;

}

footer #controls {
    float: left;
    
}

footer #scores {
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    margin-right: 15px;
    
}

#game-board {
    background-color: rgb(46, 46, 46);
    /* top: ; */
    display: grid;
    width: 100vw;
    height: 85vmin;
    position: relative;
    /* grid-gap: 2px; */
}


.food {
    /* background-color: hsl(50, 100%, 50%);
    border: .25vmin solid black; */
    background-image: url('./snake/tile015.png');
    background-size: cover;
    background-repeat: no-repeat, repeat;
}

.frank {
    background-image: url('./snake/frank.png');
    background-size: cover;
    background-repeat: no-repeat, repeat;
}


.chunk {
    background-color: hsl(0, 0%, 29%);
    border: .10vmin solid grey;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flex {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  opacity: 0;
  height: 85vh;
  display: block;
  position: absolute;
  right: 100%;
  transition: 0.5s;
  background-color: #ffffff;
}
.content .navigation {
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
  padding-left: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.content .navigation li {
  padding: 15px;
}
.content .navigation a {
  color: #525252;
  text-decoration: none;
  position: relative;
  display: inline-block;
  overflow-x: hidden;
  transition: all 0.2s;
  z-index: 10;
}
.content .navigation form {
    all: initial;
    all: unset;
    color: #525252;
    text-decoration: none;
    position: relative;
    display: inline-block;
    overflow-x: hidden;
    transition: all 0.2s;
  }
.content .navigation a:before {
  content: "";
  overflow: hidden;
  width: 100%;
  position: absolute;
  left: -150%;
  bottom: 0px;
  height: 3px;
  background-color: #FF5757;
  transition: all 0.3s;
}
.content .navigation a:hover {
  color: #FF5757;
}
.content .navigation a:hover:before {
  left: 0px;
}

.content h1 {
  color: #525252;
  font-size: 0.98em;
}

.show {
    transition:1s;
  right: 0px;
  opacity: 1;
  z-index: 999;
  
}
.hide {
    transition:0.5s;
    right: 0px;
    opacity: 0;
    z-index: 1;
}

.hamburger {
  background-color: transparent;
  border: 0px;
  outline: 0px;
  width: 100px;
  height: 100px;

  position: absolute;
  top: 15px;
  right: 50px;
  cursor: pointer;
  z-index: 9999;
}
.hamburger .burger {
  transition: all 0.3s;
  border-radius: 5px;
  height: 8px;
  width: 60px;
  display: inline-block;
  background-color: #FFF;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}