*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: darkslateblue;
}


#wrapper {
    float: left;
    width: 100vw;
    height: 100%;
    clear: both;
    text-align: center;
    color: white;

}
h3 {
    font-family: 'ZCOOL', cursive;
    font-weight: 400;
    font-size: 60px;
}
footer #scores {
    font-family: 'ZCOOL', cursive;
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    margin-right: 15px;
    
}
.wrapper2 {
    display: inline-block;
    margin: 0 auto;
}
footer #controls {
    float: left;
    
}

.header a {
    color: rgb(136, 251, 255);
    font-family: 'ZCOOL', cursive;
    font-weight: 400;
    font-size: 20px;
}

.header {
    width: 100%;
    height: 12vh;
    display: block;
    position: relative;
    background-color: #101010;
    
}

.footer-wrapper {

}



footer {
    height: 3vh;
    width: 100%;
    background-color: #000000;

}

#game-board {
    background-color: rgb(46, 46, 46);
    /* top: ; */
    display: grid;
    width: 100vw;
    height: 85vmin;
    position: relative;
    /* grid-gap: 2px; */
}

.snake_1 {
    background-color: hsl(0, 57%, 45%);
    border: .25vmin solid black;
}
.snake_1_head {
    background-color: hsl(0, 0%, 100%);
    border: .25vmin solid rgb(255, 255, 255);
}

.snake_2 {
    background-color: hsl(214, 57%, 45%);
    border: .25vmin solid black;
}

.food {
    background-color: hsl(50, 100%, 50%);
    border: .25vmin solid black;
}

.chunk {
    background-color: hsl(123, 43%, 49%);
    border: .10vmin solid grey;
}