* {
    box-sizing: border-box;
    margin: auto;
}
input[type=text], input[type=password] {
    padding: 10px;
    margin: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
}
div.center {
    width: 50%;
    text-align: center;
    background-color: lightblue;
    margin: 0 auto;
    height: 50vh;

}
body {
    height: 100vh;
}
