body,
html {
    background-color: darkslateblue;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    width: 60%;
    margin: 5px auto;
    margin-top: 80px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px 5px #ccc;
    display: block;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .container {
    width: fit-content;
    padding: 60px;
  
    height: fit-content;
    margin: 0 auto;
    margin-top: 2%;
    background-color: #f9f9f9;
  }

  .container a {
      text-decoration: none;
  }

  .button:hover,
  #btn-button:hover {
    background-color: rgba(76, 175, 80, 0.8);
  }