/* * {
  box-sizing: border-box;
  margin: auto;
}
input[type="text"],
input[type="password"] {
  padding: 10px;
  margin: 10px;
  border: 2px solid lightgray;
  border-radius: 5px;
}
div.center {
  width: 50%;
  text-align: center;
  background-color: lightblue;
  margin: 0 auto;
  height: 50vh;
}
body {
  height: 100vh;
} */

body,
html {
    background-color: darkslateblue;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  width: fit-content;
  padding: 60px;

  height: fit-content;
  margin: 0 auto;
  margin-top: 2%;
  background-color: #f9f9f9;
}

/* Full-width input fields */
.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  width: 60%;
  margin: 5px auto;
  padding: 15px;
  box-shadow: 0px 5px 5px #ccc;
  border-radius: 5px;
  border-top: 1px solid #e9e9e9;
  display: block;
  text-align: center;
}

.signup {
  background-color: blue;
  margin-bottom: 20px;
}

.login-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 5px 5px #ccc;
  border-radius: 5px;
  border-top: 1px solid #e9e9e9;
}

button:hover,
#btn-signup:hover {
  opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

h2,
p {
  text-align: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}
