body {
    min-height: 450px;
    height: 100vh;
    margin: 0;
    background-color: darkslateblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin-top: 10%;
    font-size: 3.5em;
}

table, th{
    background-color: #2c2f33;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
}

td {
    border-right: 1px solid rgb(66, 66, 66);
    padding-left:3px;
    padding-right: 3px;
}

tr:hover {background-color: #23272a;}
tr {background-color: #2c2f33;}

th {
    background-color: #23272a;
    color: white;
    border-top: 2px solid black;
}

th:first-child {border-left: 3px solid black;}
th:last-child {border-right: 3px solid black;}

td:first-child {border-left: 3px solid black;}
tr:last-child {border-bottom: 3px solid black;}
td:last-child{border-right: 3px solid black;}
