*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* tmp font till new font  */

}

div[class^="chunk"] {
    box-shadow: 0px 0px 0px 2px rgba(97, 97, 97, 0.062);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: darkslateblue;
}
.logo {
    margin: 0 auto;
    align-self: center;
    margin-top: 10px;
}

#wrapper {
    float: left;
    width: 100vw;
    height: 100%;
    clear: both;
    text-align: center;
    color: white;

}
/* h3 {
    font-family: 'ZCOOL', cursive;
    font-weight: 400;
    font-size: 60px;
    max-width: 30vw;
    align-self: center;
    margin: 0 auto;
} */

input[type="submit"] {
    text-align: center;
    border: 4px solid white;
    border-radius: 8px;
    background: rgb(0, 0, 0);

    
    color: #ffffff;
    font-size: 0.75rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;

    width: 4.5vw;
    height: 2.5vh;
}
progress {
    max-width: 5vw;
    margin: 0 auto;
    float: right;
    margin-right: 10px;

}
.progress {
    max-width: 5vw;
    margin: 0 auto;
    float: left;

}
.progress_wrapper {
    height: 2vh;
    max-width: 11vw;
    width: 11vw;
    float: right;
}

form {
    max-width: 10vw;
    margin: 0 auto;
    margin-right: 10px;
    float: right;
}

.wrapper2 {
    display: inline-block;
    margin: 0 auto;
    z-index: 1;
}

#loggedin {
    margin-left: 10vw;
}

footer {
    height: 3vh;
    width: 100%;
    background-color: #000000;
}
.wrapper-footer, footer, .footer {
    position: relative;
    width: 100vw;
    z-index: 3;
}

#controls {
    float: left;
    
}

#scores {
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    margin-right: 15px;
    
}

#game-board {
    background-color: rgb(46, 46, 46);
    /* top: ; */
    display: grid;
    width: 100vw;
    height: 85vmin;
    position: relative;
    /* grid-gap: 2px; */
}


.food {
    /* background-color: hsl(50, 100%, 50%);
    border: .25vmin solid black; */
    background-image: url('./../snake/tile015.png');
    background-size: contain;
    background-repeat: no-repeat, repeat;
}

.frank {
    background-image: url('./../snake/frank.png');
    background-size: cover;
    background-repeat: no-repeat, repeat;
}


.chunk1 {
    /* background-color: hsl(0, 0%, 29%);
    */
    background-image: url('./../Textures/board/TileSet_49');
    background-size: cover;
    background-repeat: no-repeat, repeat;
    
}
.chunk2 {
    /* background-color: hsl(0, 0%, 29%);
    */
    background-image: url('./../Textures/board/TileSet_50');
    background-size: cover;
    background-repeat: no-repeat, repeat;
    
}
.chunk3 {
    /* background-color: hsl(0, 0%, 29%);
    */
    background-image: url('./../Textures/board/TileSet_51');
    background-size: cover;
    background-repeat: no-repeat, repeat;
    
}
.chunk4 {
    /* background-color: hsl(0, 0%, 29%);
    */
    background-image: url('./../Textures/board/TileSet_50');
    background-size: cover;
    background-repeat: no-repeat, repeat;
    
}
.chunkBorder1 {
    background-image: url('./../Textures/board/TileSet_77.png');
    background-size: fill;
    background-repeat: no-repeat, repeat;
}
.chunkBorder2 {
    background-image: url('./../Textures/board/TileSet_73.png');
    background-size: fill;
    background-repeat: no-repeat, repeat;
}
.chunkBorder3 {
    background-image: url('./../Textures/board/TileSet_81.png');
    background-size: fill;
    background-repeat: no-repeat, repeat;
}
.chunkBorder4 {
    background-image: url('./../Textures/board/TileSet_85.png');
    background-size: fill;
    background-repeat: no-repeat, repeat;
}

.chunkCorner1 {
    background-image: url('./../Textures/board/TileSet_61.png');
    background-size: fill;
    background-repeat: no-repeat, repeat;
}
.chunkCorner2 {
    background-image: url('./../Textures/board/TileSet_65.png');
    background-size: fill;
    background-repeat: no-repeat, repeat;
}
.chunkCorner3 {
    background-image: url('./../Textures/board/TileSet_59.png');
    background-size: fill;
    background-repeat: no-repeat, repeat;
}
.chunkCorner4 {
    background-image: url('./../Textures/board/TileSet_58.png');
    background-size: fill;
    background-repeat: no-repeat, repeat;
}



.water {
    background-image: url('./../Textures/board/TileSet_105.png');
    background-size: fill;
    background-repeat: no-repeat, repeat;
}
.water2 {
    background-image: url('./../Textures/board/TileSet_103.png');
    background-size: fill;
    background-repeat: no-repeat, repeat;
}

.portal {
    background-image: url('./../Warp_Pipe_down.png'), url('./../Textures/board/TileSet_85.png');
    background-size: fill;
    background-repeat: no-repeat, repeat;
    transform: rotate(180deg), rotate(0deg);
    z-index: 2;
}
