* {
    background-size: cover;
    background-repeat: no-repeat, repeat;
}
.snake-1 {
    filter: sepia(100%) saturate(217%);
}

.snake_2_body_ver {
    /* background-color: hsl(0, 57%, 45%); */
    background-image: url('/snek-game/docs/styles/snake/snake/tile007.png');
    /* border: .25vmin solid black; */
    
}
.snake_2_body_hor {
    /* background-color: hsl(0, 57%, 45%); */
    background-image: url('/snek-game/docs/styles/snake/snake/tile001.png');
    /* border: .25vmin solid black; */
    
}

.snake_2_head_up {
    background-image: url('/snek-game/docs/styles/snake/snake/tile003.png');
    
    /* border: .25vmin solid hsl(0, 57%, 45%); */
}
.snake_2_head_right {
    background-image: url('/snek-game/docs/styles/snake/snake/tile004.png');
    
    /* border: .25vmin solid hsl(0, 57%, 45%); */
}
.snake_2_head_down {
    background-image: url('/snek-game/docs/styles/snake/snake/tile009.png');
    
    /* border: 
    .25vmin solid hsl(0, 57%, 45%); */
}
.snake_2_head_left {
    background-image: url('/snek-game/docs/styles/snake/snake/tile008.png');
    
    /* border: .25vmin solid hsl(0, 57%, 45%); */
}

.snake_2_tail_up {
    background-image: url('/snek-game/docs/styles/snake/snake/tile013.png');
    
}
.snake_2_tail_right {
    background-image: url('/snek-game/docs/styles/snake/snake/tile014.png');
    
}
.snake_2_tail_down {
    background-image: url('/snek-game/docs/styles/snake/snake/tile019.png');
    
}
.snake_2_tail_left {
    background-image: url('/snek-game/docs/styles/snake/snake/tile018.png');
    
}
.snake_2_curve_lt {
    background-image: url('/snek-game/docs/styles/snake/snake/tile012.png');
    
}
.snake_2_curve_tr {
    background-image: url('/snek-game/docs/styles/snake/snake/tile005.png');
    
}
.snake_2_curve_rd {
    background-image: url('/snek-game/docs/styles/snake/snake/tile000.png');
    
}
.snake_2_curve_dl {
    background-image: url('/snek-game/docs/styles/snake/snake/tile002.png');
    
}
/* .snake_2 {
    background-color: hsl(0, 57%, 45%);
    border: .25vmin solid black;
} */