*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: silver;
}
#wrapper {
    float: left;
    width: 100vw;
    height: 100%;
    clear: both;
    text-align: center;
    color: white;

}
h3 {
    font-family: 'ZCOOL', cursive;
    font-weight: 400;
    font-size: 60px;
}
h1 {
    font-family: 'ZCOOL', cursive;
    font-weight: 400;
    font-size: 20px;
}
.wrapper2 {
    display: inline-block;
    margin: 0 auto;
}
a {
    float: left;
    margin: 10px;
}

.header {
    width: 100%;
    height: 15vh;
    display: block;
    position: relative;
    background-color: #101010;
    
}
.footer-wrapper {

}

footer {
    height: 5vh;
    width: 100%;
    background-color: #000000;

}

#game-board {
    background-color: #CCC;
    /* top: ; */
    display: grid;
    width: 80vmin;
    height: 80vmin;
    position: relative;
    /* grid-gap: 2px; */
}

.snake {
    background-color: hsl(0, 57%, 45%);
    border: .25vmin solid black;
}

.food {
    background-color: hsl(50, 100%, 50%);
    border: .25vmin solid black;
}

.chunk {
    background-color: hsl(123, 43%, 49%);
    border: .10vmin solid grey;
}